<%- include('partials/header') %>


<div class="jumbotron centered ">
  
    <i class="fas fa-home fa-6x"></i> 
    <h1 class="titleStlye">Ingatlan statisztika</h1>
    <form action="/" method="POST">
      <div class=" form-group ">
        <label class="info"for="webaddress">Másold ide a linket az ingatlan.com-ról</label>
        <input type="url" class="form-control" name="webaddress" placeholder="">
      </div>
      <button type="submit" class="btn btn-info" name="submit">Adatlekérdezés</button>
    </form>
    
  
  
</div>

<%- include('partials/footer') %>

