<%- include('partials/header') %>


<div class="jumbotron centered ">
  
    <i class="fas fa-home fa-6x"></i> 
    <h1 class="titleStlye">Ingatlan statisztika</h1>
    <form action="/" method="POST">
      <div class=" form-group flexbox-container">
        <label class="info"for="webaddress">Másold ide a linket az ingatlan.com-ról</label>
        <input class="inputField" type="url" class="form-control" name="webaddress" placeholder="" value="https://ingatlan.com/szukites/elado+haz+uj-epitesu+csaladi-haz+ujszeru+felujitott+budapest+fejer-megye+pest-megye+100-mFt-ig+90-180-m2+700-2000-m2telek+4-szoba-felett"> 
      </div>
      <button type="submit" class="btn btn-info" name="submit">Adatlekérdezés</button>
    </form>
    
  
  
</div>

<%- include('partials/footer') %>

