


body {
    background-color: #E8ECEF;
  }
  
  .centered {
      padding: 10% 20%;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }
  
  
  .pads{
     
     
  }